@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .w-1280max {
    @apply xl:max-w-7xl;
  }
  .lastTh:last-child td:first-child {
    @apply rounded-br-lg;
  }
  .lastTh:last-child td:last-child {
    @apply rounded-bl-lg;
  }
  .lastTh:nth-child(even) td {
    @apply bg-gray-200;
  }
  .lastTh:nth-child(odd) td {
    @apply bg-gray-100;
  }
}

@layer utilities {
  .shadow__nav {
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.04);
  }
  .f-bold {
    font-family: "KalamehWeb-Bold";
  }
  .f-extraBold {
    font-family: "KalamehWeb-ExtraBold";
  }
  .f-black {
    font-family: "KalamehWeb-Black";
  }
  .strok {
    border: 7px dashed #082f49;
  }
  .bg-svg {
    background-image: url("./Img/Img-Header3.svg");
  }
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "KalamehWeb-Regular";
}
textarea,
input {
  outline: 2px solid transparent !important;
  resize: none;
}
:root {
  --bgColor: #fafafa;
  color: #082f49;
}
body {
  width: 100%;
  height: 100%;
  background-color: var(--bgColor);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
